<html>
<head>
	<title>Stroke Prediction</title>
	<link rel="stylesheet" href="style.css">
	
</head>
<body >
	<div id="wapper">
		<center><h1>Stroke Prediction</h1>
	</div>
	
		
    <form name="myform" method="post" action="/result">
    	<b>Gender:</b><br>
    		<input type="text" class="Uname" name="gender"><br><br>
    	<b>Age:</b><br>
    		<input type="text" class="Uname" name="age"><br><br>
    	<b>Hypertension:</b><br>
    		<input type="text" class="Uname" name="hypertension" ><br><br>
    	<b>Heart Disease:</b><br>
    		<input type="text" class="Uname" name="heart_disease"><br><br>
    	<b>Ever Married:</b><br>
    		<input type="text" class="Uname" name="ever_married"><br><br>
    	<b>Work Type:</b><br>
    		<input type="text" class="Uname" name="work_type"><br><br>
    	<b>Residence Type:</b><br>
    		<input type="text" class="Uname" name="Residence_type" ><br><br>
    	<b>Avg Glucose Level:</b><br>
    		<input type="text" class="Uname" name="avg_glucose_level" ><br><br>
    	<b>BMI:</b><br>
    		<input type="text" class="Uname" name="bmi" ><br><br>
    	<b>Smoking Status:</b><br>
    		<input type="text" class="Uname" name="smoking_status"><br><br>
    	
    	</a><input type="submit" value="Submit" id="login_bt" onclick="validate()"></a><br>
    	

    </form> 
</div>

	
</body>
</html>